/* https://github.com/lxndroc/twitch-clone */

.channel {
    cursor: position;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.channel:hover {
    background-color: #25252c;
}

.channel__details {
    display: flex;
    align-items: center;
}

.channel>div>img {
    object-fit: contain;
    margin-right: 5px;
    width: 40px;
    border-radius: 50%;
}
